<h2><%= @deck.title %></h2>
<div>
    Format: <%= @deck.format %><br \>
    Created by <%= @deck.user.email %> <%= time_ago_in_words(@deck.created_at) %> ago.
</div>
<br \>
<p><%= @deck.description %></p>

<h3>Comments:</h3>
    <%= render @deck.comments %> <!-- Rendered from the _comment.html.erb partial -->
<br \>


<h3>Comment on this Deck!</h3>
<%= render 'comments/form' %>

<% if user_signed_in? %>
    <% if @deck.user_id == current_user.id %>
        <%= link_to  "Edit", edit_deck_path(@deck) %> |
        <%= link_to  "Delete", deck_path(@deck), method: :delete,
            data: { confirm: "Are you sure?" } %> |
    <% end %>
<% end %>
<%= link_to  "Back", root_path %>